.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
}

.blog img {
  height: 230px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.blog img:hover {
  transform: scale(1.1); /* Scale the image up by 10% */
  z-index: 1;
  border-radius: 4px;
}

.card-body {
  position: relative;
  background-color: #272423;
  border-radius: 0 0 4px 4px;
}

.card-body h5 {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
.card-body p {
  font-size: 16px;
  color: #d6d4d2;
}

.card-body .btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #191970;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.card-body .btn:hover {
  opacity: 0.7;
  color: black;
}
