.navbar {
  display: flex;
  width: 100%;
  padding: 20px 6%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 10%,
    transparent
  );
  z-index: 1;
}
.navbar .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.navbar .navbar-right ul {
  list-style-type: none;
  display: flex;
  font-size: 18px;
  gap: 20px;
}
.navbar .navbar-right ul li {
  cursor: pointer;
}

.navbar .navbar-right ul li:hover {
  opacity: 0.7;
}

.navbar .navbar-right img {
  width: 300px;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar-left .icons {
  width: 25px;
  cursor: pointer;
}

@media (max-width: 1040px) {
  .navbar-right img {
    width: 25px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1030px) {
  /* .navbar-left img {
    display: none;
  } */
}
